



</div>
<br><p>Weather data from open-meteo. For each location worldwide, the best national weather models are combined to provide the best possible forecast.</p>
    </div>
  </div>
</div>

<!-- Second Grid: Select an algorithm -->
<div class="w3-row">
  <div class="w3-half w3-dark-grey w3-container w3-center" style="height:1200px">
    <div class="w3-padding-64">
      <h1>Algorithms Explained</h1>
    </div>
    <div class="w3-padding-64">
        <h2>Launch Algorithms</h2>
        <p>The intent of the launch algorithms is to see which days look launchable.  The base algorithm analyzes 5 factors at each hour on a pass fail basis.  Those factors are: wind speed, wind direction, probability of precipitation, visibility, and sunrise/set times.  If all 5 factors receive a passing score, that hour is considered 'Good for Paragliding' and gets a score of 1.  Otherwise, that hour gets a score of 0.  Each mindset has a different set of thresholds for the 5 factors.</p>
        <div class = "w3-card-4 w3-half">
        <h3>Optimistic Launch</h3>
        <ul>
            <li>Wind Direction Error: <45 degrees</li>
            <li>Wind Speed: <25 knots</li>
            <li>Visibility: >3 nautical miles</li>
            <li>Chance of Precipitation: <50%</li>
            <li>Sun: Above the Horizon</li>
        </ul>
        </div>
        <div class = "w3-card-4 w3-half">
        <h3>Pessimistic Launch</h3>
        <ul>
            <li>Wind Direction Error: <25 degrees</li>
            <li>Wind Speed: <20 knots</li>
            <li>Visibility: >3 nautical miles</li>
            <li>Chance of Precipitation: <30%</li>
            <li>Sun: Above the Horizon</li>
        </ul>
        </div>
        <div class = "w3-card-4 w3-half">
        <h3>Perfect Launch</h3>
        <ul>
            <li>Wind Direction Error: <15 degrees</li>
            <li>Wind Speed: <15 knots</li>
            <li>Visibility: >3 nautical miles</li>
            <li>Chance of Precipitation: <10%</li>
            <li>Sun: Above the Horizon</li>
        </ul>
        </div>
    </div>
  </div>
  <div class="w3-half w3-teal w3-container" style="height:1200px">
    <div class="w3-padding-64 w3-padding-large w3-center">
      <h1>Contact</h1>
      <p>This tool has been a lot of fun to develop.  I am always tweaking the algorithms and adding new ones.  If you have any ideas, please reach out to me via:</p><br>
        <a href="https://www.linkedin.com/in/zachary-brogie">My Linkedin Profile</a><br><br><br>
        <img src="images/PG.png" alt="Kiting in the park">


    </div>
  </div>
</div>

</body>
</html>